<div class="panel panel-default">
	<div class="panel-heading">Auctions</div>
	<div class="panel-body">
		<p>Select an auction to manage.  To delete or edit the name of an auction, select the appropriate icon.</p>
	</div>
	<table class="table table-striped table-responsive">
			<thead>
				<tr>
					<th>Name</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<% @auctions.each do |a| %>
				<tr>
					<td><%= link_to a.name, auction_path(a) %></td>
					<td><%= link_to edit_auction_path(a) do %><span class="glyphicon glyphicon-pencil"></span><% end %></td>
					<td><%= link_to delete_auction_path(a) do %><span class="glyphicon glyphicon-trash"></span><% end %></td>
				</tr>
				<% end %>
			</tbody>
	</table>
</div>
<div><%= link_to 'Create a new Auction', :new_auction , class: 'btn btn-default' %></div>
