<h1>Auctions</h1>
<p><%= link_to 'Create a new Auction', :new_auction %></p>
<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th># Reg. Buyers</th>
				<th>Buyers Pay</th>
				<th>Packer Pays</th>
				<th>Total Sales</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td><a href="#">2013 Small Animal Auction</a></td>
				<td>132</td>
				<td>$142,000.00</td>
				<td>$500.00</td>
				<td>$141,500.00</td>
				<td><span class="glyphicon glyphicon-pencil"></span><a href="#">Edit</a> <span class="glyphicon glyphicon-trash"></span><a href="#">Delete</a></td>
			<tr>
				<td>2</td>
				<td><a href="#">2013 Large Animal Auction</a></td>
				<td>135</td>
				<td>$111,384.56</td>
				<td>$300.00</td>
				<td>$111,684.56</td>
				<td><span class="glyphicon glyphicon-pencil"></span><a href="#">Edit</a> <span class="glyphicon glyphicon-trash"></span><a href="#">Delete</a></td>
			</tr>
			<tr>
				<td>3</td>
				<td><a href="#">2014 Small Animal Auction</a></td>
				<td>110</td>
				<td>$99,003.00</td>
				<td>$100.00</td>
				<td>$99,103.00</td>
				<td><span class="glyphicon glyphicon-pencil"></span><a href="#">Edit</a> <span class="glyphicon glyphicon-trash"></span><a href="#">Delete</a></td>
			</tr>
			<tr>
				<td>4</td>
				<td><a href="#">2014 Large Animal Auction</a></td>
				<td>121</td>
				<td>$150,323.14</td>
				<td>$3,000.00</td>
				<td>$153,323.14</td>
				<td><span class="glyphicon glyphicon-pencil"></span><a href="#">Edit</a> <span class="glyphicon glyphicon-trash"></span><a href="#">Delete</a></td>
			</tr>
		</tbody>
</table>