<ol class="breadcrumb">
  <li><%= link_to "Auctions", auctions_path %></li>
  <li class="active">New Auction</li>
</ol>
<div class="page-header">
	<h1>New Auction</h1>
</div>
<%= render "notifications" %>
<%= render "form" %>
