@import "bootstrap-sprockets";
@import "bootstrap";

ul.naked-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.table-number {
  text-align: right;
}

.total-well {
  text-align: right;
}

.total-label {
  font-size: 1.3em;
  font-weight: bold;
}

.total-value {
  font-size: 1.3em;
}
