<ol class="breadcrumb">
  <li><%= link_to "Auctions", auctions_path %></li>
  <li><%= link_to @auction.name, auction_path(@auction) %></li>
  <li class="active">Seller Types</li>
</ol>
<div class="page-header">
	<h1>Seller Types</h1>
</div>
<p class="button-group"><%= link_to 'Add a Seller Type', :new_auction_seller_type, class: 'btn btn-default' %> </p>
<div>
	<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				<% @seller_types.each do |seller_type| %>
				<tr>
					<td><%= link_to seller_type.name, 
					        edit_auction_seller_type_path(@auction, seller_type) %></td>
				</tr>
				<% end %>
			</tbody>
	</table>
</div>